<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(21, 170, 170);
        }
        .div{
            width: 500px;
            margin: auto;
            background-color: antiquewhite;
            padding: 10px;
            border-radius: 10px;
        }
        .a{
            display: flex;
            margin-bottom: 20px;
            padding: 10px;
            width: fit-content;
            background-color: rosybrown;
            border: 2px solid black;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="div">
        <h1>All the Tasks</h1>
        <a class="a" target="_blank" href="/dashboard/tk1">Dynemic Table</a>
        <a class="a" target="_blank" href="/dashboard/tk2">Javascript Events</a>
        <a class="a" target="_blank" href="/dashboard/tk3">KuKu Cube</a>
        <a class="a" target="_blank" href="/dashboard/tk4">Static Grind</a>
        <a class="a" target="_blank" href="/dashboard/tk5">Grid With Calender</a>
        <a class="a" target="_blank" href="/dashboard/tk6">Result Grid</a>
        <a class="a" target="_blank" href="/dashboard/tk7">Dynemic Grind</a>
        <a class="a" target="_blank" href="/dashboard/tk8">Searching</a>
        <a class="a" target="_blank" href="/dashboard/tk9">Delimiter Searching</a>
        <a class="a" target="_blank" href="/dashboard/tk10">CSS Template 1</a>
        <a class="a" target="_blank" href="/dashboard/tk11">CSS Template 2</a>
        <a class="a" target="_blank" href="/dashboard/tk12">CSS Template 3</a>
        <a class="a" target="_blank" href="/dashboard/tk13">CRUD of Job application</a>
        <!-- <a class="a" target="_blank" href="/dashboard/tk14">CRUD of Job application By AJAX</a> -->
        <a class="a" target="_blank" href="/dashboard/tk15">TimeZone Converter</a>
        <a class="a" target="_blank" href="/dashboard/tk16">JSON placeholder API</a>
    </div>
</body>
</html>