<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #loginform {
        margin: auto;
        height: 500px;
        width: 500px;
        background-color: rgb(255, 255, 255, 40%);
        border-radius: 60px;

        .a {
            font-size: larger;
            border: 2px solid black;
            margin-left: 200px;
        }

        .email,
        .pass {
            font-weight: bold;
            margin-bottom: 30px;
            margin-left: 30px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;

            input {
                margin-right: 200px;
                font-size: 14px;
            }
        }

        .login {
            position: fixed;
            bottom: 450px;
            left: 840px;
            font-size: larger;
            color: blue;
            text-decoration: underline;
            width: fit-content;
        }

        h2 {
            padding-bottom: 30px;
            padding-top: 30px;
            text-align: center;
        }
    }
</style>

<body id="body">
    <div class="div">
        <form id="loginform">
            <h2>LOGIN</h2>
            <div class="email">EMAIL: <input type="text" name="email" id="email"></div>
            <div class="pass" id="pass">PASSWORD: <input type="text" name="password" id="password"></div>
            <a class="a" id="submit" onclick="submitdata()" name="register">LOGIN</a>
            <br>
            <a id="link" style="visibility: hidden;position: relative;top: 50px;"></a>
            <div id="div"></div>
            <div class="login" id="login" onclick="registration()">REGISTRATION</div>
        </form>
    </div>
    <script>
        var input = document.getElementById("body");
        input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                submitdata();
            }
        });

        var div = document.getElementById('div');
        var link = document.getElementById('link');
        var password = document.getElementById('pass');
        var submit = document.getElementById('submit');
        var form = document.getElementById('loginform');
        var email = document.getElementById('email');

        async function submitdata() {
            if (form[0].value == '' || form[1].value == '') {
                password.style.backgroundColor = "coral";
                email.style.backgroundColor = "coral";
            }
            else {
                const formData = new URLSearchParams(new FormData(form));
                var url = "http://localhost:8080/login_data"
                var res1 = await fetch(url, {
                    method: "POST",
                    body: formData,
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded"
                    }
                });
                var response = await res1.json();
                if (response.success == "yes") {
                    window.location.href = `dashboard`;
                }
                else {
                    div.innerHTML = "invalid detial please enter correct details"
                }
            }
        }
        function registration() {
            window.location.href = "/"
        }
    </script>
</body>

</html>