<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #regform {  
        margin: auto;
        height: 500px;
        width: 500px;
        background-color: rgb(255, 255, 255, 40%);
        border-radius: 60px;

        .a {
            font-size: larger;
            border: 2px solid black;
            margin-left: 200px;
        }

        .fname,
        .email,
        .pass { 
            font-weight: bold;
            margin-bottom: 30px;
            margin-left: 30px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;

            input {
                margin-right: 200px;
                font-size: 14px;
            }
        }
    }
    .login {
        position: fixed;
        bottom: 450px;
        left: 870px;
        font-size: larger;
        color: blue;
        text-decoration: underline;
        width: fit-content;
    }
    h2{
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;
    }
</style>

<body id="body">
    <div class="div">
        <form id="regform">
            <h2>Regestration</h2>
            <div class="fname">NAME: <input type="text" name="fname" id="fname"></div>
            <div class="email">EMAIL: <input type="text" name="email" id="email"></div>
            <a class="a" id="submit" onclick="submitdata()" name="register">REGISTER</a>
            <br>
            <a onclick="activate()" id="link" style="visibility: hidden;position: relative;top: 50px;"></a>
            <div id="div"></div>
            <div class="login" id="login" onclick="login()">LOGIN</div>
        </form>
    </div>
    <script>
            var input = document.getElementById("body");
        input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                submitdata();
            }
        });
        
        var div = document.getElementById('div');
        var link = document.getElementById('link');
        var submit = document.getElementById('submit');
        var form = document.getElementById('regform');
        var fname = document.getElementById('fname');
        var email = document.getElementById('email');

        async function submitdata() {
                if (form[0].value == '' || form[1].value == '') {
                    fname.style.backgroundColor = "coral";
                    email.style.backgroundColor = "coral";
                }
                else {
                    var email = form[1].value;
                    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

                    if (!email.match(mailformat)) {
                        div.style.color = "red";
                        div.innerHTML = "Wrong Mail Format";
                    }
                    else {
                        const formData = new URLSearchParams(new FormData(form));
                        var url = "http://localhost:8080/reg_data"
                        var res1 = await fetch(url, {
                            method: "POST",
                            body: formData,
                            headers: {
                                "Content-type": "application/x-www-form-urlencoded"
                            }
                        });
                        var response = await res1.json();
                        if (response.exist == '') {
                            link.innerHTML = 'http://localhost:8080/activate_link/' + response.randomcode;
                            link.setAttribute("name", response.randomcode)
                            link.style.visibility = "visible";
                            link.style.color = "blue"
                        }
                        else {
                            div.innerHTML = "";
                            link.innerHTML = 'email already exist please login or use other mail id';
                            link.style.visibility = "visible";
                            link.style.color = "red"
                        }
                    }
            }
        }

        async function activate() {
            const email = document.getElementById('email').value;
            var code = document.getElementById('link').name;
            var url = await fetch(`http://localhost:8080/activate_link/?code=${code}&email=${email}`);

            var response = await url.json();
            if (response.code == '') {
                if (response.expire == 'no') {
                    window.location.href = `password/?email=${email}`;
                } else {
                    document.getElementById('div').innerHTML = "Activation link is expired";
                    document.getElementById('div').style.color = "red";
                }
            }
            else {
                document.getElementById('div').innerHTML = "Invalid link";
                document.getElementById('div').style.color = "red";
            }
        }

        function login() {
            window.location.href=`login`;
        }
    </script>
</body>

</html>